<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table,td,th {
  border: 1px solid black;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
  <table>
    <tr>
      <th>Api</th>
      <th>Param</th>
      <th>Return</th>
    </tr>
    <tr>
      <td>Imagesearch</td>
      <td>query</td>
      <td><a href="/imagesearch?query=ikan">Example</a></td>
    </tr>
    <tr>
      <td>Instagramprofile</td>
      <td>username</td>
      <td><a href="/instagramprofile?username=kurita__emi">Example</a></td>
    </tr>
    <tr>
      <td>Instagrampost</td>
      <td>username</td>
      <td><a href="/instagrampost?username=real__yami">Example</a></td>
    </tr>
    <tr>
      <td>Instagramstory</td>
      <td>username</td>
      <td><a href="/instagramstory?username=awkarin">Example</a></td>
    </tr>
    <tr>
      <td>Smuleid</td>
      <td>userid</td>
      <td><a href="/smuleid?userid=ngscsshs">Example</a></td>
    </tr>
    <tr>
      <td>Smuleperform</td>
      <td>userid</td>
      <td><a href="/smuleperform?userid=ngscsshs">Example</a></td>
    </tr>
    <tr>
      <td>Smuledsongbook</td>
      <td>userid</td>
      <td><a href="/smulesongbook?userid=ngscsshs">Example</a></td>
    </tr>
    <tr>
      <td>Smuleid record</td>
      <td>id record</td>
      <td><a href="/smuleid_record?id_record=1851560194_3297198159">Example</a></td>
    </tr>
    <tr>
      <td>Smuledownload</td>
      <td>url recording</td>
      <td><a href="/smuledownload?url_recording=https://www.smule.com/c/1851560194_3297198159">Example</a></td>
    </tr>
    <tr>
      <td>Beach sign</td>
      <td>text</td>
      <td><a href="/beach_sign?text=Chaca">Example</a></td>
    </tr>
    <tr>
      <td>Neon writing</td>
      <td>text</td>
      <td><a href="/neon_writing?text=Chaca">Example1</a></td>
      <td><a href="/neon_writing?text=Chaca20%NBT">Example2</a></td>
    </tr>
    <tr>
      <td>Retro wave</td>
      <td>tiga text</td>
      <td><a href="/retro_wave?text=Chaca20%nbt20%imuet_banget">Example</a></td>
    </tr>
  </table>
</body>
</html>
